<% include header %>


<% if(rs.length > 0) { %>
<table>
    <tr><th>Username</th> <th>Post</th>
    <% for (var i=0; rs.length > i; i++) { %>
    <tr>
        <td><%= rs[i].Username %></td>
        <td><%= rs[i].Message %></td>
    </tr>
    <% } %>
</table>
<% } else { %>
No users are entered into the database.
<% } %>

<% include footer %>